.section-text {
  padding-top: 20px;
  line-height: 33px;
  font-size: 18px;
  padding-bottom: 17px; }
  .section-text h1 {
    padding-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #394852;
    font-size: 24px;
    padding: 60px 0 60px 0;
    letter-spacing: 2.4px;
    position: relative;
    line-height: 30px; }
    .section-text h1::after {
      display: block;
      content: ' ';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #394852;
      height: 3px;
      width: 30px;
      top: 100px; }

.section-text .section__title {
  padding-bottom: 35px; }

@media all and (max-width: 640px) {
  .section-text .section__title {
    padding-bottom: 60px; } }

.section_useful_articles {
  padding-bottom: 27px; }

.section {
  background-color: #fff; }

.section-1 {
  padding-bottom: 20px;
  background: #fff; }

.section-1-item {
  text-align: center;
  padding: 31px 0 0 0;
  min-height: 238px; }

.section-1-item__img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.section-1-item__title {
  width: 240px;
  margin: 13px auto;
  letter-spacing: 1.4px;
  line-height: 20px; }

.section-2 {
  padding-bottom: 56px;
  padding-top: 5px; }

.section-2 .content_wrapper {
  padding: 0px 36px; }

.section-2__item {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 27px; }

.section-2__item__inner {
  background-color: #FFF;
  margin-top: 11px;
  min-height: 243px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #D0D0D0;
  padding-top: 41px;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-out; }

.section-2__item__icon {
  display: block;
  width: 83px;
  height: 83px;
  margin: 0 auto;
  position: relative; }
  .section-2__item__icon div {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-out; }
  .section-2__item__icon img {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease-out; }

.section-2__item__inner:hover {
  background-color: #515E66;
  color: #fff; }
  .section-2__item__inner:hover .section-2__item__icon div {
    opacity: 1; }
  .section-2__item__inner:hover .section-2__item__icon img {
    opacity: 0; }

.section-2__item__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
  letter-spacing: 2.7px;
  line-height: 24px;
  margin-top: 31px; }

.how_we_are_working {
  padding-top: 30px;
  position: relative;
  cursor: default; }

.how_we_are_working::after {
  display: block;
  content: ' ';
  position: absolute;
  background: #DBA562;
  width: 80%;
  height: 8px;
  z-index: 1;
  top: 83px;
  left: 10%;
  border: 50px solid #fff;
  border-width: 0 50px; }

@media (max-width: 969px) {
  .how_we_are_working::after {
    display: none; } }

.how_we_are_working__number {
  position: relative;
  z-index: 2;
  background-color: #DBA562;
  color: #fff;
  box-shadow: 0 0 0 2px #DBA562;
  border: 7px solid #fff;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-size: 35px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  transition: all 0.2s ease-out;
  cursor: default; }

.how_we_are_working .col-md-2:hover .how_we_are_working__number {
  background-color: #394852;
  border: 0 solid #fff;
  line-height: 114px; }

.how_we_are_working__text {
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1.6px;
  line-height: 20px; }

.section_useful_articles__slider__item {
  padding: 36px 0 0 0;
  height: 346px; }

.section_useful_articles__slider__item__img {
  width: 100px;
  height: 90px;
  float: left;
  margin: 0 10px 5px 0; }

.section_useful_articles__slider__item__date {
  font-size: 14px;
  display: block; }

.section_useful_articles__slider__item__title, .section_useful_articles__slider__item__title a {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 1.8px;
  padding-top: 8px;
  color: #436F8C;
  font-size: 18px; }

.section_useful_articles__slider__item__text {
  clear: both;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-size: 15px; }

.section_useful_articles .bx-wrapper .bx-pager.bx-default-pager a:hover {
  box-shadow: 0 0 0 1px #4B5861; }

.section_useful_articles .bx-wrapper .bx-pager.bx-default-pager a.active {
  box-shadow: 0 0 0 3px #4B5861; }

.section_useful_articles .bx-wrapper .bx-pager.bx-default-pager a {
  background: #4B5861; }

.section-3 {
  padding-bottom: 80px; }

.section-3__map-wrapper {
  width: 100%;
  max-width: 610px;
  position: relative; }

.section-3__map-wrapper__point {
  background-color: #436f8c;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 27px;
  color: #fff;
  border: 2px solid #fff;
  cursor: default;
  transition: all 0.2s ease-out; }

.section-3__map-wrapper__point.active {
  border-width: 6px;
  width: 35px;
  height: 35px;
  margin: -4px 0 0 -4px; }

.section-3__map {
  width: 100%; }

.section-3__list__item__title {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px; }

.section-3__list__item__value {
  font-size: 30px;
  color: #f4a55e; }

.section-3__list__item {
  line-height: 50px;
  cursor: default; }

.section-3__item__wrapper {
  padding-top: 100px; }

.section-partner {
  margin-top: 80px;
  padding-bottom: 18px; }
  .section-partner .content_wrapper {
    padding: 0 5px; }

.section-partner__slider .section-partner__slider__item {
  height: 238px; }

.section-partner .bx-wrapper .bx-pager.bx-default-pager a:hover {
  box-shadow: 0 0 0 1px #4B5861; }

.section-partner .bx-wrapper .bx-pager.bx-default-pager a.active {
  box-shadow: 0 0 0 3px #4B5861;
  background: transparent; }

.section-partner .bx-wrapper .bx-pager.bx-default-pager a {
  background: #4B5861; }
